body{
    background-color: hsl(212, 45%, 89%);
    
}
.div1{

    position: relative;
    top: 220px;
    margin: 0 auto;
    width: 18.4%;
    height: 810px;
    background-color: white;
    border-radius: 35px;
 
}
.div2 img{
height: 450px;
width: 450px;
border-radius: 35px;
position: relative;
left: 25px;
top:25px;

}
.div3{
    text-align: center;
}
.p1{
font-size:35px ;
color: blue;
padding-top: 10px;
}
.p2{
    font-size: 25px;
    color: grey;
    font-weight: 300;
}